services:
  db:
    image: postgres:16
    container_name: personal_workspace_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: personal_workspace
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
